.page {
  --background: #fafafa;
  --foreground: #fff;

  --text-primary: #000;
  --text-secondary: #666;

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --button-secondary-border: #ebebeb;

  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: var(--font-geist-sans);
  background-color: var(--background);
}

.main {
  display: flex;
  min-height: 100vh;
  width: 100%;
  max-width: 800px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-color: var(--foreground);
  padding: 120px 60px;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 24px;
}

.intro h1 {
  max-width: 320px;
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: -2.4px;
  text-wrap: balance;
  color: var(--text-primary);
}

.intro p {
  max-width: 440px;
  font-size: 18px;
  line-height: 32px;
  text-wrap: balance;
  color: var(--text-secondary);
}

.intro a {
  font-weight: 500;
  color: var(--text-primary);
}

.ctas {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 440px;
  gap: 16px;
  font-size: 14px;
}

.ctas a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 0 16px;
  border-radius: 128px;
  border: 1px solid transparent;
  transition: 0.2s;
  cursor: pointer;
  width: fit-content;
  font-weight: 500;
}

a.primary {
  background: var(--text-primary);
  color: var(--background);
  gap: 8px;
}

a.secondary {
  border-color: var(--button-secondary-border);
}

.container{
  background: linear-gradient(-31deg, #545454 0%, #25343F 100% );
  display: flex;
  min-height: 100vh;
}

.sidebar{
  background-image: url("/checkboardDashboard.jpg");
  position: relative;
  overflow: hidden;
  z-index: 1;
  padding : 18px;
  font-size: 20px;
  font-weight: 800;
  width: 327px;
  height: 100vh;
  background: linear-gradient(180deg, #25343F 0%, #FF9B51 100%);
  border-radius: 0px 60px 60px 0px;
  box-shadow: 6px 4px 26px 0px rgba(0, 0, 0, 0.25);
  color: white;
}

.overlay{
  inset : 0;
  z-index: 0;
  position: absolute;
  mix-blend-mode: multiply;
  transform: rotate(5.65deg) translate(-50px);
}

.facebookName{
  font-size: 12px;
  display: flex;
  align-items: center;
  gap : 13px
}

.bottom{
  font-size: 16px;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 49px;
  z-index: 3;
  bottom: 20px;
}

.copyrightSign{
  font-size: 20px;
  font-weight: 300;
}

.navbar {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 29px;
}

.navbar, .navList{
  position: relative;
  z-index: 2;
}

.listNavbar{
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}

.icons{
  width: 292px;
  height: 52px;
  padding: 11px 0 11px 29px;
  display: flex;
  list-style: none;
  gap: 20px;
  transition: transform 180ms ease;
}

.icons:hover{
  cursor: pointer;
  transform: scale(1.05);
}

.iconsActive{
  color: #25343F;
  background-color: white;
  width: 292px;
  height: 52px;
  display: flex;
  align-items: center;
  padding: 0 0 0 29px;
  border-radius: 15px;
  list-style: none;
  gap: 20px;
  transition: transform 180ms ease;
}

.iconsActive:hover{
  cursor: pointer;
  transform: scale(1.05);
}

.selectedPage{
  display: flex;
  background  : white;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  width: 292px;
  height: 52px;
  z-index: 0;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }
}

@media (max-width: 600px) {
  .main {
    padding: 48px 24px;
  }

  .intro {
    gap: 16px;
  }

  .intro h1 {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -1.92px;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }

  .page {
    --background: #000;
    --foreground: #000;

    --text-primary: #ededed;
    --text-secondary: #999;

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
    --button-secondary-border: #1a1a1a;
  }
}
